/* site-topbar start*/
.site-topbar {
    height: 40px;
    background-color: #333;
    font-size: 12px;
}

.site-topbar a {
    color: #b0b0b0;
    display: inline-block;
    height: 40px;
}

.site-topbar a:hover{
    color: #fff;
}

.topbar-nav >ul>li {
    line-height: 40px;
    float: left;
    margin-right: 15px;
}

.topbar-cart ,
.topbar-info {
    float: right;
    line-height: 40px;
}

.topbar-info>a{
    margin-right:13px;
}

.topbar-cart>a{
    background-color: #424242;
    height: 40px;
    width: 120px;
    /* padding:  0 24px; */
    text-align: center;
    overflow: hidden;
}

.topbar-cart >a:hover{
    color: #ff6a00;
    background-color: #fff;
}

.topbar-cart >a>em {
    margin-right: 7px;
}

.topbar-nav .submenu{
    position: relative;
    padding-right: 14px;
    z-index: 10;
}
/* 箭头 */
.topbar-nav .submenu::after{
    position:absolute;
    right:0;
    /* 垂直居中 */
    /* 往上移的过程可以用margin-top负值 也可以用transform:translate; */
    top: 50%; 
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-right: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    /* 旋转箭头 */
    transform:translateY(-4px) rotate(45deg);

    /* 鼠标触碰 箭头旋转 */
    transition: transform .3s ease 0s;
}

.topbar-nav .submenu:hover::after{
    transform: translateY(0px) rotate(225deg);
    border-color:#fff;
}

/* 实心三角形 */
.topbar-nav .active::before{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
    display: none;
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color:#fff ;
}

.topbar-nav .active:hover::before{
    display: block;
}

/* 下拉列表 */
.submenu .submenu-list{
    position: absolute;
    top:40px;
    left: 50%;
    margin-left: -52.5px;
    height: 0px;
    width: 105px;
    background-color: #fff;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.3);
    transition: height .3s;
    overflow: hidden;
}
.submenu:hover .submenu-list{
    height: 150px;
}

.submenu .submenu-list >ul >li {
    line-height: 30px;
    height: 30px;
}

.submenu .submenu-list >ul >li:hover a{
    color: #ff6a00;
}

.submenu .submenu-list>ul>li img{
    margin: 0 4px 0 6px;
    vertical-align: -3px;
}

/* app download */
.submenu .appcode{
    position: absolute;
    top: 40px;
    left:50%;
    margin-left:-62px;
    width: 124px;
    height: 0px;
    background-color: #fff;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.3);
    /* padding: 17px 18px 16px; */
    text-align: center;
    line-height:1;
    font-size: 14px;
    color:#333;
    overflow: hidden;
    transition: height .3s;
}
.submenu:hover .appcode{
    height: 148px;
}
.submenu .appcode>img{
    display: block;
    margin: 17px auto 16px;
}

/* 购物车菜单 */
.topbar-cart{
    position: relative;
    height: 40px;
}
.topbar-cart .cart-menu{
    position: absolute;
    top: 40px;
    right: 0;
    width: 316px;
    height: 0px;
    background-color: #fff;
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,10%);
    text-align: center;
    line-height: 100px;
    overflow: hidden;
    transition: height .3s;
    z-index: 10;
}
.topbar-cart:hover .cart-menu{
    height: 100px;
}
/* end site-topbar*/

/* site-header start */
.site-header .header-logo {
    float: left;
    margin-top: 23px;
}
.site-header .header-logo a:active img {
    transform: scale(0.9);
}

.site-header .header-nav {
    float: left;
    margin-left: 194px;
}

.site-header .header-nav >ul >li {
    float: left;
    padding: 42px 10px;
}

.site-header .header-nav >ul >li a{
    color:#333;
    font-size:16px;
}

.site-header .header-search{
    float: right;
    width: 297px;
    background-color: gold;
    margin-top: 25px;
}

.site-header .header-search .search-text{
    width: 245px;
    height: 50px;
    border: 1px solid #e0e0e0;
    border-right: none;
    font-size: 14px;
    color:#333;
    line-height: 50px;
    padding:0 11px;
    box-sizing: border-box;
    float: left;
}
.site-header .header-search .search-btn{
    display: block;
    width: 52px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    float:left;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
}

.site-header .header-search .search-btn:hover{
    background-color:#ff6a00;
    color:#fff;
    border-color:#ff6a00 ;
}

/* 当鼠标触碰，整体边框颜色变化 */
.site-header .header-search:hover .search-text,
.site-header .header-search:hover .search-btn{
    border-color: #b0b0b0;
}

/* 当鼠标点击获取焦点时，边框样式停留 */
.site-header .header-search .search-text:focus,
.site-header .header-search .search-text:focus+.search-btn {
    border-color: #ff6a00;
}
/* end site-header */

/* focus-slider start */

/* 只有上面的部分清除浮动，下面才能和上面区分 */
.focus-slider{
    position: relative;
}

/* 分类导航 */
.focus-slider .category{
    position: absolute;
    top:0;
    left:0;
    width: 234px;
    height: 460px;
    background-color: rgba(105,101,101,0.6);
    padding-top: 19px;
    box-sizing: border-box;
    z-index: 2;
}

.focus-slider .category>ul>li{
    line-height: 42px;
}

.category >ul>li>a{
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 0 23px 0 30px;
}

.category >ul>li>a>em{
    float: right;
}

.category >ul>li>a:hover{
    background-color: #ff6a00;
}

.category .category-list {
    position: absolute;
    top:0;
    left: 234px;
    background-color: skyblue;
    width: 992px;
    height: 460px;
    display: none;
}

.category >ul>li:hover .category-list{
    display: block;
}

.focus-slider .swiper{
    width: 1226px;
    height: 460px;
    background-color: gold;
}

/* 覆盖swiper的向前箭头 */
.swiper-button-prev{
    left: 244px;
    width: 17px;
    height: 31px;
}
.swiper-button-next{
    width: 17px;
    height: 31px;
}

.swiper-pagination {
    text-align: right;
    padding-right:34px;
    bottom: 11.5px;
    box-sizing: border-box;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid #4d4d4d;
    border-radius: 50%;
}
.swiper-pagination-bullet-active{
    width: 10px;
    height: 10px;
    background-color: #666;
    border: 2px solid #4d4d4d;
    border-radius: 50%;
}
/* end focus-slider */