.header {
    height: 140px;
    /* background-color: pink; */
}

/* site-topbar start */
.site-topbar{
    height: 40px;
    background: #333333;
    font-size: 12px;
    line-height: 40px;
}

.site-topbar a {
    color: #B0B0B0;
}

/* 一定要指定死 */
.site-topbar .topbar-nav >ul >li {
    float:left;
    margin-right: 15px;
    
}

.site-topbar .topbar-nav >ul >li.submenu{
    position: relative;
    padding-right: 14px;
}

/* 小箭头 array */
.site-topbar .topbar-nav >ul >li.submenu::after {
    position:absolute;
    top:50%;
    right:0;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    border-right: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
    /* 旋转45度 */
    transform: translateY(-4px) rotate(45deg);
    /* 箭头动画 */
    transition:transform .3s ease 0s;
}

/* 鼠标触碰，箭头旋转,伪元素转起来 */
.site-topbar .topbar-nav >ul >li.submenu:hover::after{
    transform: translateY(0) rotate(225deg);
    border-color: #fff;
}

/* 实心三角形 Solid triangle */
.site-topbar .topbar-nav >ul >li.active::before {
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -3px;
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    display: none;
}

.site-topbar .topbar-nav >ul >li.active:hover::before{
    display: block;
}

/* 云服务下拉列表 */
.site-topbar .topbar-nav >ul >li.submenu .submenu-list {
    position: absolute;
    top:40px;
    left:50%;
    margin-left: -52.5px;
    width: 105px;
    /* height: 150px; */
    background-color: #fff;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.3);
    /* 动画 */
    height:0;
    overflow: hidden;
    transition: height 0.3s;
}
.site-topbar .topbar-nav >ul >li.submenu:hover .submenu-list{
    height: 150px;
}

/* 给下拉列表里面的小图标加margin */
.site-topbar .topbar-nav .submenu-list>ul>li a img{
    margin:0 3px 0 6px;
    vertical-align: -4px;
}

.site-topbar .topbar-nav .submenu-list>ul>li{
    line-height: 30px;
}

/* 下拉列表变色 */
.site-topbar .topbar-nav .submenu-list>ul>li> a:hover{
    color: #ff6700
}

/* QRcode */
.site-topbar .topbar-nav>ul >li.submenu .appcode{
    position: absolute;
    top:40px;
    left:50%;
    margin-left: -62px;
    width: 124px;
    /* height: 148px; */
    background-color: #fff;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.3);
    text-align: center;
    font-size: 14px;
    line-height: 1;
    color:#333;
    /* 隐藏 */
    height:0;
    overflow: hidden;
    transition: height 0.3s;
}

/* 鼠标触碰，显示二维码 */
.site-topbar .topbar-nav>ul >li.submenu:hover .appcode{
    height: 148px;
}

.site-topbar .topbar-nav>ul >li.submenu .appcode>img {
    display: block;
    margin: 17px auto 16px;
}

.site-topbar .topbar-info{
    float: right;
}

.site-topbar .topbar-info>a {
    margin-right: 13px;
}

.site-topbar .topbar-nav >ul >li a:hover,
.site-topbar .topbar-info > a:hover {
    color:#fff;
}

/* shopping-cart */
.site-topbar .topbar-cart{
    position: relative;
    float:right;
    
}

.site-topbar .topbar-cart .cart-mini {
    /* 使得整个鼠标可以选择这个区域 */
    display: block; 
    padding: 0 24px;
    background-color: #424242;
    height: 40px;
}

.site-topbar .topbar-cart .cart-mini em {
    font-size: 16px;
    vertical-align: -1px;
}

.site-topbar .topbar-cart .cart-mini:hover {
    color:#FF8D40;
    background-color: #fff;
}

/* 购物车菜单 */
.site-topbar .topbar-cart .cart-menu {
    position: absolute;
    top:40px;
    right:0;
    width: 316px;
    /* height: 50px; */
    background-color: #fff;
    box-shadow: 0px 1px 7px 10px rgba(0,0,0,5%);
    text-align: center;
    /* line-height: 100px; */
    /* 也可以用padding来写 */
    padding: 25px 0 25px;
    /* 默认隐藏 */
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: height 0.3s, padding 0.3s;
    color: #333;
    z-index: 10;
}

/* 鼠标滑动到购物车，显示菜单 */
.site-topbar .topbar-cart:hover .cart-menu {
    height: 50px;
    padding: 25px 0 25px;
}

/* end site-topbar*/



/* site-header start */
/* header-logo */
.site-header .header-logo{
    float: left;
    margin-top: 23px;
}

.site-header .header-logo>a:active img{
    /* logo要缩小:0.9 */
    transform: scale(0.9);
}

/* header-nav */
.site-header .header-nav {
    float: left;
}

.site-header .header-nav .nav-list{
    margin-left:194px;
}

.site-header .header-nav .nav-list>li{
    float: left;
    padding:38px 10px;
}

.site-header .header-nav .nav-list>li>a{
    font-size: 16px;
    color: #333;
}

/* header-search */
.site-header .header-search{
    float: right;
    /* background-color: orange; */
    width: 297px;
    margin-top: 25px;
}

.site-header .header-search .search-text{
    float: left;
    width: 245px;
    height: 50px;
    border: 1px solid #e0e0e0;
    border-right: none;
    font-size: 14px;
    color:#333;
    /* 设置内置文字的上下水平距离盒子的距离 */
    line-height: 50px;
    padding: 0 0 0 11px;
    box-sizing: border-box;
    

}

.site-header .header-search .search-btn{
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}

.site-header .header-search .search-btn:hover{
    background-color: #ff6a00;
    color:#fff;
    border-color: #ff6a00;
}

/* 当鼠标触碰到整体的边框颜色变化 */
.site-header .header-search:hover .search-text,
.site-header .header-search:hover .search-btn{
    border-color: #9d9999; 
}

/* 点击鼠标获取焦点时，边框样式停留 */
.site-header .header-search .search-text:focus,
.site-header .header-search .search-text:focus + .search-btn{
    border-color: #ff6a00; 
}




/* end site-header */